/*formatação para todos os elementos da pagina*/
*{
	padding: 0px;
	margin: 0px;
}
h1{
	color: red;
	font-family: arial, monospace;
}
/*-----formatação de links*/
a{
	text-decoration: none;	/*retira o sublinhado dos links*/
}
a:link{	/*muda a cor do link*/
	color: green;
}
a:visited{	/*muda a cor após ter visitado o link*/
	color: orange;
}
a:active{	/*muda a cor ao clicar no link*/
	color: lightblue;
}
a:hover{	/*muda a cor ao passar o mouse em cima*/
	background-color: yellow;
}
/*-----formatação do menu*/

.menu{
	list-style-type: none;
}
.menu li{
	display: inline;
	margin: 10px;
}
/*-----formatação dos paragrafos da classe 'p1'*/
.p1{
	background-color: lightgray;
	padding: 10px;	/*espaço antes da borda (preenchimento)*/
	border: 2px solid red;	/*grossura da borda, tipo solida, cor da borda*/
	margin: 10px;	/*espaço depois da borda*/
	width: 50%;
}
header{
	background-color: #00ffff;
	padding: 10px;
}
nav{
	background-color: #fffacd;
	padding: 10px;
}
footer{
	background-color: #00ffff;
	padding: 10px;
}